
/*头部开始*/
.headerbox{
	padding: 0 25px 0 30px;
	height: 100px;
	margin: 0 auto;
	min-width: 955px;
}
.header-left{
	display: block;
	width: 260px;
	height: 80px;
	float: left;
	line-height: 80px;
	margin-top: 20px;
	background: url(../image/standerd_logo_1x_6d56ff5.png) no-repeat;
}
.header-right{
	height: 100px;
	float: right;
}
.miaosha{
	height: 100%;
	float: left;
	line-height: 100px;
	margin-right: 20px;
	font-size: 12px;
}
.header-right .miaosha a{
	color: #ed443b;
	float: left;
}
.search-box{
	height: 100%;
	float: left;
}
.search-box .search{
	width: 300px;
	height: 40px;
	margin-right: 35px;
	position: relative;
	top: 50%;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	margin-top: -19px;
}
.search-box .search:hover{
	border: 1px solid #999;
}
.search-box .search input{
	width: 298px;
	height: 38px;
	border: none;
	line-height: 38px;
}
.search-box .search-img{
	position: absolute;
	right: 12px;
	top: 12px;
	width: 15px;
	height: 15px;
	background: url(../image/search.png)no-repeat;
	cursor: pointer;
}
.login-box{
	width: 256px;
	height: 100px;
	float: left;
}
.login-box .login{
	height: 100%;
	line-height: 100px;
	float: left;
	padding-right: 20px;
}
.login-box .login a{
	display: inline-block;
	background: url(../image/nav_a3.png) no-repeat -272px 36px;
	padding-left: 28px;
	color: #555;
	font-size: 12px;
}
.shuxian{
	width: 0;
	height: 15px;
	border-left:1px solid #ccc;
}
.gift-box{
	width: 180px;
	height: 100%;
	float: left;
	line-height: 100px;
	font-size: 12px;
}
.gift-box .dingdan{
	padding: 0 20px;
}
.gift-box .gouwuche{
	display: inline-block;
	padding-left: 45px;
	background: url(../image/new.png) no-repeat -9px 42px;
}
.login-box a:hover{
	text-decoration: underline;
}
@media screen and (max-width: 1200px){
	.headerbox .header-right .search-box .search{
		width: 170px
	}
	.headerbox .header-right .search-box .search input{
		width: 156px;
	}
}
/*头部结束*/
/*导航开始*/
.menu-box{
	width: 100%;
	height: 40px;
	background: #333;
	text-align: center;
	min-width: 955px;
}
.menu-box ul{
	display: inline-block;
	height: 100%;
	line-height: 40px;
	margin: 0 auto;
}
.menu-box ul li{
	padding: 0 35px;
	float: left;
}
.menu-box ul li a{
	color: #ddd;
	font-size: 13px;
}
.menu-box .active{
	height: 100%;
	background: #222;
	color: #fff;
}
.menu-box a:hover{
	color: #fff;
}
/*导航结束*/
/*banner开始*/
.banner-box{
	overflow: hidden;
	min-width: 955px;
	font-size: 0;
}
.banner-box .banner-left{
	width: 60%;
	float: left;
	font-size: 0;
	position: relative;
}
.banner-img{
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.imgbox{
	width: 100%;
	float: left;
	position: absolute;
}
.imgbox a{
	display: inline-block;
	float: left;
	width: 100%;
	overflow: hidden;
}
.imgbox a img{
	display: inline-block;
	float: left;
	width: 100%;
	overflow: hidden;
	transition: all 1s ease-out;
}
.banner-right{
	width:40%;
	float: right; 
}
.banner-right .banner-rightimg{
	width: 100%;
	height: 100%;
}
.banner-right .banner-rightimg a{
	display: block;
	float: left;
	width: 100%;
	overflow: hidden;
}
.banner-right .banner-rightimg a img{
	display: inline-block;
	float: left;
	width: 100%;
	overflow: hidden;
	transition: all 1s ease-out;
}
.banner-right a:first-child~a{
	width: 50%;
	display: inline-block;
	float: left;
	overflow: hidden;
}
.banner-box img:hover{
	display: block;
	transform: scale(1.1,1.1);
}
/*banner结束*/
/*科技开始*/
.keji-box{
	height: auto;
	margin: 60px auto;
	padding-bottom: 60px;
	border-bottom: 1px solid #e9e9e9;
	overflow: hidden;
}
.keji-left{
	width: 790px;
	border-right: 1px solid #e9e9e9;
	float: left;
}
.keji-img{
	width: 300px;
	height: 160px;
	margin-right: 30px;
	float: left;
}
.keji-wenzi{
	float: left;
}
.title1{
	width: 100%;
	line-height: 1.1em;
	margin: 30px 0 12px;
	font-size: 24px;
	color: #333;
}
.title2{
	font-size: 12px;
	line-height: 1.5em;
	color: #333;
}
.keji-right{
	float: left;
}
.keji-right a{
	display: block;
	height: 28px;
	line-height: 28px;
	color: #333;
}
.title:before{
	content: "·";
	display: inline-block;
	margin-right: 5px;
}
@media screen and (min-width: 1200px){
	.keji-box{
		width: 1200px;
	}
	.keji-box .keji-left{
		width: 790px;
	}
	.keji-wenzi{
		width: 420px;
	}
	.keji-wenzi a .title1{
		width: 100%;
		line-height: 1.1em;
		margin: 30px 0 12px;
		font-size: 24px;
	}
	.keji-wenzi .title2{
		font-size: 12px;
		line-height: 1.5em;
	}
	.keji-right{
		width: 340px;
		margin: 23px 0 0 40px;
		font-size: 14px;
	}
}
@media screen and (max-width: 1200px){
	.keji-box{
		width: 955px;
	}
	.keji-box .keji-left{
		width: 627px;
	}
	.keji-img{
		width: 250px;
		height: 133px;
		margin-right: 28px;
	}
	.keji-img img{
		width: 100%;
	}
	.keji-wenzi{
		width: 330px;
	}
	.keji-wenzi a .title1{
		width: 100%;
		margin: 20px 0 10px;
		font-size: 18px;
	}
	.keji-wenzi .title2{
		font-size: 12px;
		line-height: 1.5em;
	}
	.keji-right{
		width: 300px;
		margin: 15px 0 0 27px;
		font-size: 12px;
	}
}
.keji-box a:hover{
	text-decoration: underline;
}
/*科技结束*/
/*同类版区开始*/
.lt{
	float: left;
}
.gt{
	float: right;
}
.tonglei-box{
	width: 1200px;
	height: 581px;
	margin: 40px auto;
	border-bottom: 1px solid #eee;
	padding-bottom: 40px;
	overflow: hidden;
	font-size: 0;
}
.tonglei-left{
	width: 220px;
	height: 540px;
	padding: 0;
	display: inline-block;
}
.tonglei-left a{
	display: block;
	height: 229px;
	color: #333;
	font-size: 14px;
}
.tonglei-right{
	width: 955px;
	height: 540px;
	position: relative;
	overflow: hidden;
}
.tonglei-right a{
	width: 238px;
	height: 270px;
	float: left;
	color: #333;
	display: inline-block;
	padding: 20px;
	position: relative;
	overflow: hidden;
}
.tonglei-right a img{
	width: 138px;
	height: 138px;
	position: absolute;
	bottom: 16px;
	right: 14px;
}
.tonglei-right h1{
	height: 24px;
	line-height: 24px;
	font-size: 16px;
	text-align: left;
	min-width: 100%;
	font-weight: normal;
}
.tonglei-right h2{
	font-size: 12px;
	color: #999;
	margin-top: 5px;
	text-align: left;
	font-weight: normal;
}
.tonglei-right h3{
	font-size: 16px;
	margin: 11px 0 2px -5px;
	text-align: left;
}
.tonglei-right h3 i{
	font-style:normal;
	font-weight: 700px;
}
.tonglei-right a div{
		width: 48px;
		background: #ee3531;
		padding: 0 10px;
		height: 18px;
		color: #fff;
		line-height: 18px;
		font-size: 12px;
	}
.tonglei-box .tonglei-right img{
	display: block;
	transition: transform .5s;
}
.tonglei-box .tonglei-right img:hover{
	transform: translateX(-13px);
}
.tonglei-box .tonglei-right a h1:hover{
	text-decoration: underline;
	color: #333;
}
@media screen and (min-width: 1200px){
	.tonglei-right a:nth-child(2){
		width: 478px;
		height: 540px;
		padding: 20px 25px;
	}
	.tonglei-right a:nth-child(2){
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
	}
	.tonglei-right a:nth-child(1),.tonglei-right a:nth-child(3){
		border-bottom: 1px solid #ccc;
	}
	.tonglei-right a:nth-child(4){
		position: absolute;
		left: 0;
		bottom: 0;
	}
	.tonglei-right a:nth-child(2) img{
		width: 395px;
		height: 398px;
		position: absolute;
		bottom: 0px;
		right: 14px;
	}
	.tonglei-right a:nth-child(2) h1{
		font-size: 24px;
		color: black;
	}
	.tonglei-right a:nth-child(2) h2{
		font-size: 14px;
	}
	.tonglei-right a:nth-child(2) h3{
		margin: 16px 0 4px -5px;
		font-size: 22px;
	}
}
@media screen and (max-width: 1200px){
	.tonglei-box{
		width: 955px;
	}
	.tonglei-right{
		width: 705px;
	}
	.tonglei-right a:nth-child(2){
		width: 235px;
		height: 270px;
		position: relative;
	}
	.tonglei-right a{
		width: 235px;
		height: 270px;
		float: left;
		display: inline-block;
		padding: 20px 17px;
		border-bottom: 1px solid #e9e9e9;
		border-right: 1px solid #e9e9e9;
	}
	.tonglei-right a h1{
		font-size: 16px;
	}
	.tonglei-right a:nth-child(2) img{
		width: 138px;
		height: 138px;
		position: absolute;
		bottom: 16px;
		right: 14px;
	}
	.tonglei-right a:nth-child(2) h1{
		font-size: 16px;
	}
	.tonglei-right a:nth-child(2) h3{
		font-size: 16px;
		margin: 11px 0 2px -5px;
	}
	.tonglei-right a:nth-child(3n){
		border-right: none;
	}
	.tonglei-right a:nth-last-child(4)~a{
		border-bottom: none;
	}
}


/*同类版区结束*/

/*购买商品开始*/
.shangpin-box{
	width: 100%;
	background: #f6f6f6;
	padding: 60px 0;
	margin-top: -40px;
	min-width: 955px;
}
.shangpin-box .shangpin-inner{
	width: 1200px;
	height: 400px;
	margin: 0 auto;
}
.shangpin-box .shangpin-inner .shangpin-left{
	height: 100%;
	float: left;
	position: relative;
}
.shangpin-box .shangpin-inner .jiao{
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -30px;
	border: 25px solid #f6f6f6;
	border-right-color: #f6f6f6;
	border-top-color: rgba(0,0,0,0);
	border-bottom-color: rgba(0,0,0,0);
	border-left-color: rgba(0,0,0,0);
}
.shangpin-right{
	width: 465px;
	height: 366px;
	float: left;
	margin-left: 25px;
}
.shangpin-right .shangpin-title a{
	color: #333;
	font-size: 30px;
}
.feidie{
	height: 60px;
	margin-top: 12px;
	font-size: 12px;
	line-height: 20px;
	color: #333;
}
.shangpin-jiage{
	height: 36px;
	width: 100%;
	margin: 17px auto;
	color: #ee3531;
	font-size: 18px;
}
.shangpin-jiage span{
	font-size: 24px;
	font-weight: 700;
	margin-left: 5px;
}
.shangpin-btn{
	width: 100%;
	height: 130px;
}
.shangpin-btn .btn-buy{
	width: 140px;
	height: 40px;
	color: #fff;
	cursor: pointer;
	background: #ee3531;
	text-align: center;
	font-size: 16px;
	line-height: 40px;
	margin-right: 15px;
	border-radius: 3px;
	float: left;
	transition: all .3s ease-out;
}
.shangpin-btn .btn-look{
	width: 140px;
	height: 40px;
	float: left;
	border: 1px solid #999;
	background: #fff;
	color: #555;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	border-radius: 3px;
	transition: all .3s ease-out;
}
.shangpin-pl{
	padding-top: 27px;
	border-top: 1px solid #d7d7d7;
}
.shangpin-pl .shangpin-img{
	width: 30px;
	height: 30px;
	margin-right: 7px;
	float: left;
}
.shangpin-pl .shangpin-img a img{
	width: 30px;
	height: 30px;
	display: block;
	border-radius: 50%;
}
.shangpin-pl .zhan{
	float: left;
	width: auto;
	height: 30px;
	line-height: 30px;
	color: #333;
	font-size: 12px;
}
.shangpin-pl .chanyu{
	float: right;
	width: 140px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 3px;
	background: #333;
	color: #fff;
	cursor: pointer;
	transition: all .3s ease-out;
}
.btn-buy:hover{
	background: rgba(139,21,18,.8);
}
.btn-look:hover{
	color: #000;
	border: 1px solid #000;
}
.chanyu:hover{
	background: #000;
}
.shangpin-title a:hover{
	text-decoration: underline;
}
@media screen and (max-width: 1200px){
	.shangpin-box .shangpin-inner{
		width: 995px;
	}
	.shangpin-box .shangpin-inner .shangpin-left{
		width: 465px;
		height: 400px;
		background: url(../image/good30-2.jpg);
	}
	.shangpin-left a img{
		display: none;
	}
}
/*购买商品结束*/
/*mm更多资讯开始*/
.new-box{
	width: 1200px;
	margin: 0 auto;
}
.new-box>ul{
	overflow: hidden;
}
.new-box>ul>li{
	width: 380px;
	height: 475px;
	float: left;
	margin-right: 20px;
	margin-top: 20px;
	background: #f6f6f6;

}
.new-box>ul>li a .img1{
	background: url(../image/new1.jpg);
}
.new-box>ul>li a .img2{
	background: url(../image/new2-1.jpg);
}
.new-box>ul>li a .img3{
	background: url(../image/new3-1.jpg);
}
.new-box>ul>li a .img4{
	background: url(../image/new4-1.jpg);
}
.new-box>ul>li a .img5{
	background: url(../image/new5-1.jpg);
}
.new-box>ul>li a .img6{
	background: url(../image/new6-1.jpg);
}
.new-box>ul>li a .img{
	width: 100%;
	height: 288px;
	background-position: center center;
    background-size: cover;
}
.new-box>ul>li>a>.msg{
	width: 100%;
	display: inline-block;
}
.new-box>ul>li>a>.msg>.note{
	display: inline-block;
	width: 100%;	
	position: relative;
	font-size: 12px;
}
.new-box>ul>li>a>.msg>.note>.mlogo{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: #fff;
	text-align: center;
	line-height: 70px;
	position: absolute;
	top: -40px;
}
.new-box>ul>li>a>.msg>.note>.mlogo>img{
	margin-top: 5px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
.new-box>ul>li>a>.msg>.note>.mname{
	width: 30px;
	height: 100%;
	margin-left: 20%;
	margin-top: 10px;
	font-size: 12px;
	display: inline-block;
}
.new-box>ul>li>a>.msg>.note>.mgood{
	float: right;
	margin-top: 10px;
}
.new-box>ul>li>a>.msg>.note>.mgood .icon{
	margin-left: 15px;
	display: inline-block;
	width: 15px;
	height: 15px;
	vertical-align:-4px;
	background: url(../image/new3.png);
}
.new-box>ul>li>a>p{
	/*margin: 10px 0 0px;*/
	box-sizing:border-box;
	padding: 10px;
}
.new-box>ul>li>a>.new-main{
	margin:0;
	font-size: 12px;
}
.new-box>ul>li>a>.new-time{
	/*margin:1% 0 0;*/
	font-size: 12px;
	padding: 20px 10px
}
@media screen and (max-width: 1200px){
	.new-box{
		width: 995px;
	}
	.new-box>ul>li{
		width: 300px;
		height: 394px;
	}
	.new-box>ul>li a .img{
		height: 227px;
	}
	.new-box>ul>li>a>.new-time{
		padding: 0 10px;
	}
}
.more{
	width: 100%;
	height: 50px;
}
.more a{
	display: block;
	width: 178px;
	height: 34px;
	border:1px solid #999;
	margin: 0 auto;
	border-radius:3px;
	text-align: center;
	line-height: 36px;
	margin-top: 40px;
}
/*更多资讯结束*/
/*视频测评开始*/
.spcp{
	width: 100%;
	height: auto;
	background: #f6f6f6;
	padding-top: 60px;
}
.spcp .con{
	width: 1200px;
	height: 477px;
	margin: 0 auto;
}
.spcp .con>div{
	float: left;
}
.spcp .spcp_left{
	width: 236px;
	height:100% ;
	margin-right: 5px;
}
.spcp .spcp_left>div{
	width: 236px;
	height: 236px;
	background: #000;
	margin-bottom: 5px;
	position: relative;
}
.spcp div .cp_title{
	width: 100%;
	height: 44px;
	line-height: 44px;
	position: absolute;
	bottom: 0px;
	/*background-color: ;*/
	padding: 0 55px 0 15px;
	color: #fff;
	background: rgba(0,0,0,0.4) url(../image/play.png) no-repeat 193px center;
}


.spcp .spcp_content{
	width: 477px;
	height: 100%;
	margin-right: 5px;
	position: relative;
}
.spcp .spcp_content .cp_title{
	background: rgba(0,0,0,0.4) url(../image/play.png) no-repeat 420px center;

}


.spcp .spcp_right{
	width: 477px;
	height: 100%;
	margin-right: 5px;
}
.spcp .spcp_right img{
	height: 100%;
	width: 100%;
}
.spcp .spcp_right .sp_r_T{
	height: 236px;
	width: 100%;
	margin-bottom: 5px;
}
.spcp .spcp_right .sp_r_T>div{
	position: relative;
	height: 100%;
	width: 236px;
	float: left;
}
.spcp .spcp_right .sp_r_B{
	position: relative;
	height: 236px;
	width: 100%;
	/*float: letter-spacing: ;*/
}
.spcp .spcp_right .sp_r_B .cp_title{
	background: rgba(0,0,0,0.4) url(../image/play.png) no-repeat 420px center;
}

@media screen and (max-width: 1200px){
	.spcp .con{
		width: 960px;
	}
	.spcp .spcp_right{
		width: 236px;
	}
	.spcp .spcp_right .sp_r_T{
		height: 477px;
	}
	.sp_r_B{
		display: none
	}
	.spcp .spcp_right .sp_r_T>div{
	    height: 50%;
	    width: 236px;
	}
	.spcp .spcp_right .sp_r_T>img{
		width: 50%;
		height: 236px;
	}
}
/*视频测评结束*/
/*合作伙伴开始*/
.pantner{
	width: 1200px;
	overflow: hidden;
	margin: 0 auto;
	padding: 70px 0 100px;
	/*background: #888;*/
}
.pantner ul li{
	float: left;
}
.pantner ul li a{
	width: 100%;
	height: 100%;
}
.pantner ul li img{
	margin : 0 0 38px 38px;
	width: 90px;
	height: 90px;
}
.pantner ul li .hezuo{
	width:90px;
	height:90px;
	text-align: center;
	line-height: 50px;
	font-size: 12px;
	margin : 0 0 38px 38px;
	background: #555;
	color: #fff;
}
@media screen and (max-width: 1200px){
	.pantner ul li img ,.pantner ul li .hezuo{
		margin : 0 0 20px 15px;
	}
	.pantner{
		width: 960px;
	}
}
/*合作伙伴结束*/
/*尾部开始*/
.foot-box{
	width: 100%;
	height: 300px;
	background: #222;
	font-size: 12px;
	min-width: 955px;
}
.foot-top{
	width: 100%;
	max-width: 1200px;
	height: 120px;
	border-bottom: 1px solid #333;
	margin: 0 auto;
	line-height: 120px;
	overflow: hidden;
}
.foot-neirong{
	width: 886px;
	height: 100%;
	margin: 0 auto;
}
.foot-neirong ul{
	width: 1080px;
}
.foot-neirong ul li{
	background: url(../image/footer.png)no-repeat;
	margin-right: 100px;
	padding-left: 55px;
	float: left;
	color: #FFF;
	font-size: 16px;
}
.foot-neirong ul li:nth-child(1){
	background-position: -5px 35px;
}
.foot-neirong ul li:nth-child(2){
	background-position: -4px -56px;
}
.foot-neirong ul li:nth-child(3){
	background-position:  -4px -163px;
}
.foot-neirong ul li:nth-child(4){
	background-position: -4px -266px;
	margin-right: 0;
}
.foot-bottom{
	width: 983px;
	margin: 34px auto 0;
	padding-bottom: 36px;
	text-align: center;
}
.foot-b-left{
	display: inline-block;
	max-width: 537px;
	padding: 25px 60px 30px 0;
	border-right: 1px solid #333;
	text-align: right;
}
.shouhou{
	width: 100%;
	font-size: 18px;
	color: #666;
	text-align: left;
}
.shouhou a{
	color: #666;
	font-size: 18px;
}
.shouhou span{
	font-size: 12px;
}
.shiyong{
	margin-top: 7px;
	text-align: left;
	overflow: hidden;
	line-height: 18px;
}
.shiyong span{
	font-size: 12px;
	color: #666;
	margin-right: 10px;
}
.shiyong a{
	font-size: 12px;
	color: #666;
	margin-right: 10px;
}
.shiyong a:hover{
	color: #fff;
}
.foot-b-right{
	display: inline-block;
	min-width: 324px;
	padding-left: 56px;
	font-size: 12px;
	color: #666;
	vertical-align: top;
}
.foot-content{
	text-align: left;
}
.foot-info{
	margin-top: -16px;
	width: 100%;
}
.info-left{
	width: auto;
	float: left;
	margin-top: 20px;
}
.info-left a{
	display: inline-block;
	width: 42px;
	height: 42px;
	margin-right: 9px;
	margin-top: 20px;
	background: url(../image/weibo.png) no-repeat;
	vertical-align: middle;
}
.info-left a:nth-child(1){
	background-position: -104px 0;
}
.info-left a:nth-child(3){
	background-position: -52px 0; 
}
.info-left a:nth-child(1):hover{
	background-position: -281px 0;;
}
.info-left a:nth-child(2):hover{
	background-position: -177px 0;
}
.info-left a:nth-child(3):hover{
	background-position: -229px 0; 
}
.info-right{
	width: auto;
	float: right;
}
.info-right img{
	display: block;
	width: 111px;
	height: 111px;
	margin-left: 48px;
}
@media screen and (max-width: 1200px){
	.foot-top{
		width: 100%;
	}
	.foot-top ul{
		width: 1055px;
	}
	.foot-bottom{
		width: 955px;
	}
}
/*尾部结束*/